@using myeShop.ViewModels.System.Users;
@model RegisterRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]Trang đăng nhập </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/style1.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="/images/registration-form-1.jpg" alt="">
            </div>
            <form asp-action="Register" asp-controller="User" method="post">
                <h3>Đăng Ký</h3>
                <div class="form-group">
                    <input type="text" asp-for="FirstName" placeholder="Họ" class="form-control">
                    <input type="text" asp-for="LastName" placeholder="Tên" class="form-control">
                </div>
                <div class="form-wrapper">
                    <input type="text" asp-for="UserName" placeholder="Username" class="form-control">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input type="text" asp-for="Email" placeholder="Email Address" class="form-control">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="date" asp-for="Dob" placeholder="Ngày sinh" class="form-control">
                </div>
                <div class="form-wrapper">
                    <input type="number" asp-for="PhoneNumber" placeholder="Số điện thoại" class="form-control">
                </div>
                <div class="form-wrapper">
                    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button type="submit">
                    Đăng ký
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>