
@model myeShop.ViewModels.Catalog.Products.ProductCreateRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Tạo mới sản phẩm</h1>
    </div>
    <div class="row justify-content-center">
        <div class="card shadow mb-4 col-lg-8">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label asp-for="Prod_Name" class="control-label">Tên sản phẩm</label>
                            <input asp-for="Prod_Name" class="form-control" />
                            <span asp-validation-for="Prod_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="Price" class="control-label">giá</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="Quantity" class="control-label">Số lượng</label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label asp-for="Description" class="control-label">Chi tiết</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        
                    </div>

                    

                    <div class="row justify-content-between">
                        <a asp-action="Index" asp-controller="AdProduct" class="btn btn-info small">Về danh sách</a>
                        <button type="submit">
                            Tạo
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
