@model myeShop.ViewModels.Catalog.Products.ProductUpdateRequest;
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Quản lý sản phẩm</h1>
    <hr />
    <h3>Sửa sản phẩm</h3>
    <div class="mb-4">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3 md-form">
                    <label asp-for="Prod_ID">Mã</label>
                    <input asp-for="Prod_ID" type="text" class="form-control">
                </div>
                <div class="col-md-4 mb-3 md-form">
                    <label asp-for="Prod_Name">Tên sản phẩm</label>
                    <input asp-for="Prod_Name" type="text" class="form-control"  >
                    <div class="invalid-feedback">
                        Vui lòng nhập tên sản phẩm
                    </div>
                </div>
                <div class="col-md-4 mb-3 md-form">
                    <label asp-for="Supplier_ID">Mã thương hiệu</label>
                    <input asp-for="Supplier_ID" type="text" class="form-control">
                    <div class="invalid-feedback">
                        Vui lòng nhập mã nhà cung cấp
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="price">Giá tiền</label>
                    <input asp-for="Price" type="text" class="form-control">
                    <div class="invalid-feedback">
                        Vui lòng nhập giá tiền
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="quantity">Số lượng</label>
                    <input asp-for="Quantity" type="number" class="form-control" id="quantity" placeholder="Số lượng...">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="status">Trạng thái</label>
                    <select class="form-select form-control">
                        <option value="1">Hàng đang kinh doanh</option>
                        <option value="2"> Hàng ngừng kinh doanh</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3 shadow-textarea">
                    <label for="description">Mô tả</label>
                    <textarea asp-for="Description" class="form-control" z-depth-1 data="description" rows="5" placeholder="Mô tả sản phẩm..." required></textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập mô tả sản phẩm
                    </div>
                </div>
                <div class="col-md-6 mb-3 mx-auto">
                    <label for="image">Chọn hình ảnh</label>
                    <hr />
                    <input type="file" class="btn btn-rounded float-left" onchange="readURL(this);">
                    <div class="input-group mb-3 px-2 py-2">
                        <!-- Uploaded image area-->
                        <div class="image-area mt-4" style="width: 150px"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <a asp-action="Index" asp-controller="AdProduct" class="btn btn-info small">Về danh sách</a>
                <button type="submit" class="btn btn-primary">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>

