@using myeShop.ViewModels.Common;
@model PagedResult<myeShop.ViewModels.Catalog.Suppliers.SupplierViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*--------------------Banner--------------------*@
<div class="hero-wrap hero-bread" style="background-image: url('../../images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">BRANDS</h1>

                @*--------------------Search--------------------*@
                <div class="form-group d-flex">
                    <input type="search" class="form-control" placeholder="Tìm kiếm..." />
                    <span class="input-group-text lighten-2 px-3" id="basic-text1" style="background-color: black; color: white">
                        Tìm
                    </span>
                </div>
                @*--------------------End Search--------------------*@
            </div>
        </div>
    </div>
</div>
@*--------------------End Banner--------------------*@

@*---------------------Show Supplier------------------*@
<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-md-4 col-lg-3 ftco-animate">
                    <div class="product">
                        <a asp-area="" asp-controller="Supplier" asp-action="Index" asp-route-id="@item.Supplier_ID" class="img-prod">
                            <img class="img-fluid" src="~/WebApp/images/image_1.jpg" alt="Colorlib Template">
                        </a>
                        <h3> @Html.DisplayFor(modelItem => item.Supplier_Name)</h3>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*---------------------SEnd Show------------------*@