@using myeShop.ViewModels.System.Users
@model LoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]Trang đăng nhập </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/style1.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="/images/registration-form-1.jpg" alt="">
            </div>
            <form asp-action="Login" asp-controller="AdUser" method="post">
                <h3>Đăng Nhập</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-wrapper">
                    <input type="text" asp-for="UserName" placeholder="Tài khoản" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <i class="zmdi zmdi-account"></i>
                </div>

                <div class="form-wrapper">
                    <input type="password" asp-for="Password" placeholder="Mật khẩu" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                        <label class="custom-control-label" for="customCheck">Nhớ mật khẩu</label>
                    </div>
                </div>


                <button type="submit">
                    Đăng nhập
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">Bạn quên mật khẩu?</a>
                </div>
            </form>

        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>