
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Quản lý thương hiệu</h1>
    <hr />
    <h3>Thêm thương hiệu</h3>
    <div class="mb-4">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3 md-form">
                    <label for="suppliername">Tên thương hiệu</label>
                    <input type="text" class="form-control" id="suppliername" placeholder="Tên thương hiệu.." required>
                    <div class="invalid-feedback">
                        Vui lòng nhập tên thương hiệu
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="gmail">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email..." value="" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập Email
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ..." value="" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" placeholder="Số điện thoại..." required>
                    <div class="invalid-feedback">
                        Vui lòng nhập số điện thoại
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="status">Trạng thái</label>
                    <select class="form-select form-control">
                        <option value="1">Hoạt đông</option>
                        <option value="2">Chưa hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3 shadow-textarea">
                    <label for="image">Chọn hình ảnh</label>
                    <hr />
                    <input type="file" class="btn btn-rounded float-left" onchange="readURL(this);">
                </div>
                <div class="col-md-6 mb-3 mx-auto  px-2 py-2">
                        <!-- Uploaded image area-->
                        <div class="image-area mt-4" style="width: 150px"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Thêm</button>
        </form>
    </div>
</div>


