
@model myeshop.AdminApp.ViewModel.CartComponentViewModel;


<a href="cart.html" class="nav-link @Model.Disabled" asp-action="Index" asp-controller="Cart">
    <span class="icon-shopping_cart"></span> @Model.ItemsInCart
</a>